/*GENERAL ADD CUSTOM CSS*/
.small{
  font-size: 0.8em;
}
.x-small{
  font-size: 0.7em;
}
.big{
  font-size: 1.5em;
}


/*Custom CSS For navbar bootstrap*/
.navbar-white {
  background-color: #fff;
  border-color: #183883;
  border-top: 1px solid #183883;
  margin-bottom: 0px;
}
.navbar-white .navbar-nav > li > a{
  padding-top: 16px;
  padding-bottom: 16px;
}
.navbar-white .navbar-brand {
  color: #006687;
}
.navbar-white .navbar-brand:hover,
.navbar-white .navbar-brand:focus {
  color: #ffffff;
  background-color: transparent;
}
.navbar-white .navbar-text {
  color: #ffffff;
}
.navbar-white .navbar-nav > li > a {
  color: #183883;
}
.navbar-white .navbar-nav > li > a:hover,
.navbar-white .navbar-nav > li > a:focus {
  color: #ffffff;
  background-color: #183883;
}
.navbar-white .navbar-nav > .active > a,
.navbar-white .navbar-nav > .active > a:hover,
.navbar-white .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #183883;
}
.navbar-white .navbar-nav > .disabled > a,
.navbar-white .navbar-nav > .disabled > a:hover,
.navbar-white .navbar-nav > .disabled > a:focus {
  color: #444444;
  background-color: transparent;
}
.navbar-white .navbar-toggle {
  border-color: transparent;
}
.navbar-white .navbar-toggle:hover,
.navbar-white .navbar-toggle:focus {
  background-color: transparent;
}
.navbar-white .navbar-toggle .icon-bar {
  background-color: #006687;
}
.navbar-white .navbar-collapse,
.navbar-white .navbar-form {
  border-color: #007196;
}
.navbar-white .navbar-nav > .open > a,
.navbar-white.navbar-nav > .open > a:hover,
.navbar-white .navbar-nav > .open > a:focus {
  background-color: #006687;
  color: #ffffff;
}

/*Content*/
.topbar{
  padding: 10px 0px;
  background: #011442;
}

.phone-bar{
  background-color: #183883;
  text-align: right;
  padding: 5px;
  font-size: 0.8em;
  color: #fff;
}

.banner{
  min-height: 378px;
  background: repeating-linear-gradient(
    135deg,
    #dedede,
    #dedede 2px,
    #aeaeae 2px,
    #dedede 3px
  );
}

.banner .col-md-8{
  padding-right: 0px;
}

.banner .col-md-4{
  padding-left: 0px;
}

.banner .right-side{
  background: #fff;
  min-height: 378px;
  padding: 30px;
}

.banner .right-side p{
  font-size: 0.85em;
  color: #666;
  line-height: 23px;
}

.banner-inside{
  min-height: 226px;
}

.banner-inside .right-side{
  min-height: 226px;
}

.banner-inside .col-lg-4{
  padding-left: 15px;
  padding-right: 0px;
}

.banner-inside .col-lg-8{
  padding-right: 15px;
  padding-left: 0px;
}

.services{
  background: #eaeaea;
}

.services .col-sm-4{
  padding-left: 0px;
}

.services .left-side{
  min-height: 600px;
  border-left: 1px solid #dedede;
  padding: 20px;
}

.left-side .list-group-item-heading{
  color: #183883 !important;
  font-weight: bold !important;
}

.services .right-side{
  background: #eaeaea;
  min-height: 600px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
  padding: 20px;
}

.services .left-side p {
  color: #666;
  font-size: 0.85em;
  line-height: 23px;
}

.content-two-column{
  background: #eaeaea;
}

.content-two-column .col-sm-4{
  padding-left: 0px;
}

.content-two-column .left-side{
  min-height: 600px;
  border-left: 1px solid #dedede;
  padding: 20px;
}

.left-side .list-group-item-heading{
  color: #183883 !important;
  font-weight: bold !important;
}

.content-two-column .right-side{
  background: #eaeaea;
  min-height: 600px;
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
  padding: 20px;
}

.content-two-column .left-side p {
  color: #666;
  font-size: 0.85em;
  line-height: 23px;
}

#serviceSlider .item{
  background: #fff;
}

#serviceSlider .owl-pagination {
   display: none;
}

#serviceSlider .owl-controls {
   position: absolute;
   top: -75px;
   right: 0;
}

.desc-serv{
  padding: 25px 40px 25px 25px;
}

.quote{
  text-align: center;
  padding-top: 150px;
  padding-bottom: 150px;
  background: url("../img/network-2.jpg") no-repeat;
  background-size: cover;
  color: #fff;
}

.partner{
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  background: #eaeaea;
}

.footer{
  min-height: 250px;
  padding: 30px;
  background: #183883;
}

.footer p{
  color: #fff;
  font-size: 0.8em;
}

.footer-bottom{
  padding-top: 10px;
  background: #011442;
}

.footer-bottom p{
  color: #fff;
  font-size: 0.8em;
}

.search-bar{
  min-height: 30px;
  background: #fff;
}

.search-bar .form-group input{
  background: #eaeaea;
  border: none;
}

.search-bar .form-group{
  margin-bottom: 0px;
}

/*OWL PROGRESS BAR SLIDER*/
#bannerSlider .item img{
  display: block;
  width: 100%;
  height: auto;
}

#bannerSlider .owl-controls {
  margin-top: -35px;
}

#bar{
  width: 0%;
  max-width: 100%;
  height: 4px;
  background: #183883;
}

#progressBar{
  width: 100%;
  background: #EDEDED;
}

#bannerPartner .item{
  margin: 3px;
}

#bannerPartner .item img{
  display: block;
  width: 100%;
  height: auto;
}

.title{
  font-weight: bold;
  color: #183883;
}

.footer .title{
  font-weight: bold;
  color: #fff;
}

.footer .link{
  font-size: 0.8em;
  list-style: none;
}

.footer .link li a{
  text-decoration: none;
  color: #fff;
  margin-left: -40px;
}

.footer .link li a:hover{
  text-decoration: none;
  opacity: 0.7;
}

.job-list{
  padding-bottom: 10px;
  padding-top: 10px;
  border-bottom: 1px dotted #dedede;
}

.job-list p a{
  color: #183883;
  font-size: 0.85em;
  font-weight: bold;
}

.job-list p{
  margin-bottom: 0px;
  line-height: 25px;
  color: #666;
}

.ico-job{
  font-size: 1.5em; 
  color: #183883;
}

.desc-title-inside{
  font-size: 1em !important;
  font-style: italic;
}

.content-full-inside{
  background: #eaeaea;
}

.content-full-inside .content-wrap{
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
  min-height: 450px;
  padding: 20px;
}

.item-services{
  background: #fff;
}

.item-services .panel-heading{
  padding: 0px;
  border-bottom: 0px;
}

.item-services p{
  font-size: 0.85em;
  color: #666;
  line-height: 23px;
}

.item-services .panel{
  margin-bottom: 0px;
  border: 0px;
}

.item-services .left{
  padding-right: 0px;
}

.item-services .right{
  padding-left: 0px;
}

.item-services .desc{
  padding: 25px;
}

.content-page{
  padding: 15px 20px;
}







